::ng-deep .match-item-action-sheet .action-sheet-button-inner.sc-ion-action-sheet-ios{
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    height: 20px !important;
    font-size: 12px !important;
    contain: strict;
}