<!-- begin header -->
<ion-header no-border>
  <ion-toolbar color="primary">

    <ion-title>Pro-Filter Skin</ion-title>
    <ion-buttons slot="start"><ion-menu-button autoHide="false"></ion-menu-button></ion-buttons>

  </ion-toolbar>
</ion-header>
<!-- end header -->



<ion-tabs>
  <ion-header no-border><ion-toolbar> </ion-toolbar></ion-header>
  
  <ion-tab-bar slot="bottom">
    
    <ion-tab-button tab="profile">
      <ion-icon class="icons" name="person-circle-outline"></ion-icon>
      <ion-label>Profile</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reviews">
      <ion-icon class="icons" name="star-half-outline"></ion-icon>
      <ion-label>Reviews</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="filter">
      <ion-icon class="icons" name="filter-outline"></ion-icon>
      <ion-label>Filter</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="compare">
      <ion-icon class="icons" name="git-compare-outline"></ion-icon>
      <ion-label>Compare</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="search">
      <ion-icon class="icons" name="search-outline"></ion-icon>
      <ion-label>Search</ion-label>
    </ion-tab-button>




  </ion-tab-bar>

</ion-tabs>
