.card-subtitle{
    text-transform: capitalize;
}

.text-secondary{
    font-size: 12px;
    color: #fe766a;
    text-align: right;
}

.img-circle{
    min-height: 60px;
    min-width: 30px;
}