<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/filter"></ion-back-button>
      </ion-buttons>
    <ion-title>Ingredient's Benefits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
       Promote Wound Healing <br> & Acne-Fighting
      </ion-card-subtitle>
      <p style="font-size: 12px;">For troubled skin that suffer with any types of acnes.
        This ingredients can help with treating or calming the acnes on your skin</p>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="danger">
        <ion-label>Salicylic Acid</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-label>Panthenol</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-label>Centella Asiatica Extract</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-label>Licorice</ion-label>
      </ion-chip>
      <ion-chip color="danger">
        <ion-label>Tea Tree Oil</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
       Hydration and Oily Skin
      </ion-card-subtitle>
      <p style="font-size: 12px;">Oily skin also need hydration, here are the ingredients that can deal with that</p>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="secondary">
        <ion-label>Sodium Hyaluronate</ion-label>
      </ion-chip>
      <ion-chip color="secondary">
        <ion-label>Hyaluronic Acid</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Brightening
      </ion-card-subtitle>
      <p style="font-size: 12px;"> Recommended over acne scar's skin concern and dull skin</p>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="success">
        <ion-label>Niacinamide</ion-label>
      </ion-chip>
      <ion-chip color="success">
        <ion-label>Licorice</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        Anti-Aging
      </ion-card-subtitle>
      <p style="font-size: 12px;">Suitable for wrinkle's skin concern, but also help with dry skin</p>
    </ion-card-header>
    <ion-card-content>
      <ion-chip color="warning">
        <ion-label>Vitamin E</ion-label>
      </ion-chip>
      <ion-chip color="warning">
        <ion-label>Niacinamide</ion-label>
      </ion-chip>
      <ion-chip color="warning">
        <ion-label>Glycolic Acid</ion-label>
      </ion-chip>
      <ion-chip color="warning">
        <ion-label>Citric Acid</ion-label>
      </ion-chip>
      <ion-chip color="warning">
        <ion-label>Ceramide</ion-label>
      </ion-chip>
    </ion-card-content>
  </ion-card>

</ion-content>
